
.fa-arqueologia, .fa-archeology {
	color: $arqueologia;
}

.fa-aventura, .fa-adventure {
	color: $aventura;
}

.fa-aviturismo, .fa-birding {
	color: $aviturismo;
}

.fa-buceo, .fa-diving {
	color: $buceo;
}

.fa-culturas, .fa-living { /*culturas vivas*/
	color: $culturasvivas;
}

.fa-gastronomia, .fa-gastronomy {
	color: $gastronomia;
}

.fa-naturaleza, .fa-nature {
	color: $naturaleza;
}

.fa-solyplaya, .fa-sol, .fa-sun {
 	color: $solyplaya; 
}
	
.fa-cultura, .fa-culture {
	color: $cultura;
}

.fa-hoteles{
	color: $hoteles;
}

.fa-restaurantes{
	color: $restaurante;
}

.fa-transporte{
	color: $transportes;
}

.fa-tours {
	color: $tours;
}