#sponsored {
    margin: 10px auto;
    position: relative;
    text-align:center;
}

.sponsor{
    width:100px;
    height:100px;

    position:relative;
    cursor:pointer;
    display: inline-block;

}
.sponsorFlip{
    width:100%;
    height:100%;
    border:1px solid #ddd;
    /*background:url("img/background.jpg") no-repeat center center #f9f9f9;*/
}
.sponsorFlip:hover{
    border:1px solid #999;

    -moz-box-shadow:0 0 30px #999 inset;
    -webkit-box-shadow:0 0 30px #999 inset;
    box-shadow:0 0 30px #999 inset;
}