// Non-modular or client styles for .l-footer region.


.l-footer {}
.l-footer-columns {}

footer {
	padding-top: 1rem;
	background: #1F1F1F;
	.copyright, .menu-footer{
		color: white;
		line-height: 3rem;
	}
	.copyright {
		margin-bottom: 3rem;
	}
	.block-menu-menu-footer-menu ul.menu {
		text-align: center;
		li{
			display: inline;
			margin-right: 0.9rem;
			list-style: none;
			border-left: 1px solid white;
			a{
				padding: 0 0 0 0.9rem;
				color: white;
				text-decoration: underline;
			}
		}
		li:first-child {
			border-left: none;
		}
	}
}
