// Non-modular or client styles for .l-header region.

.l-header {}

#header-top{
	background: $color-honduras;
}

.contain-to-grid {
	background:none;
}

// Top Bar
//--------------------------------------------------
.top-bar {
	background:none;
	height: 100%;
  .title-area {

  }
  
  .name h1 a{
	display: inline-block;
	width: 165px;
	height: 0px;
	overflow: hidden;
	padding-top: 85px;
	background:url('../images/logo2.png') top center no-repeat;
  }// name h1 a
}

.top-bar-section {}
.top-bar-section .left {

}
.top-bar-section .right {

}

.top-bar-section ul{
}


.top-bar-section .left li a:not(.button){
	background: $color-honduras(50%);
}


.top-bar-section .main-nav>li>a:not(.button) {
font-weight: 300;
font-size: .72857em;
text-transform: uppercase;
}

.top-bar-section .main-nav>li>a:not(.button) i{
	display: block;
	padding: 20px 0 0 0;
	font-size: 2.5em;
	text-align: center;
}

