/** Color context sections */

.section-atlantida #header-top, 
.section-atlantida .top-bar-section .left li a:not(.button),
.section-atlantida #l-title, 
.section-atlantida .title 
{
	background: $color-atlantida !important;
}

.section-bay-island #header-top, 
.section-bay-island .top-bar-section .left li a:not(.button),
.section-bay-island #l-title, 
.section-bay-island .title,
.section-islas-de-la-baiha #header-top, 
.section-islas-de-la-baiha .top-bar-section .left li a:not(.button),
.section-islas-de-la-baiha #l-title, 
.section-islas-de-la-baiha .title
{
	background: $color-islas !important;
}

.section-copan-ruinas-and-west #header-top, 
.section-copan-ruinas-and-west .top-bar-section .left li a:not(.button),
.section-copan-ruinas-and-west #l-title, 
.section-copan-ruinas-and-west .title,
.section-copan-ruinas-y-occidente #header-top,
.section-copan-ruinas-y-occidente .top-bar-section .left li a:not(.button),
.section-copan-ruinas-y-occidente #l-title, 
.section-copan-ruinas-y-occidente .title
{
	background: $color-occidente !important;
}

.section-san-pedro-sula #header-top, 
.section-san-pedro-sula .top-bar-section .left li a:not(.button),
.section-san-pedro-sula #l-title, 
.section-san-pedro-sula .title
{
	background: $color-sanpedro !important;
}

.section-lake-yojoa #header-top, 
.section-lake-yojoa .top-bar-section .left li a:not(.button),
.section-lake-yojoa #l-title, 
.section-lake-yojoa .title,
.section-lago-de-yojoa #header-top, 
.section-lago-de-yojoa .top-bar-section .left li a:not(.button),
.section-lago-de-yojoa #l-title, 
.section-lago-de-yojoa .title
{
	background: $color-lago !important;
}

.section-tegucigalpa #header-top, 
.section-tegucigalpa .top-bar-section .left li a:not(.button),
.section-tegucigalpa #l-title, 
.section-tegucigalpa .title
{
	background: $color-tegucigalpa !important;
}

.section-others #header-top, 
.section-others .top-bar-section .left li a:not(.button),
.section-others #l-title, 
.section-others .title
{
	background: $color-otros !important;
}

// Non-modular or client styles for .l-header region.

.l-header {
	height:8rem;
	#social-icons{
		padding-top:0.3rem;
		a{
			color:white !important;
			font-size: 1.2rem;
		}
	}
}

.l-main {
	clear:both;
}

#header-top{
	background: $color-honduras;
}


/***************************/

.contain-to-grid {
	background:white;
}

.fixed .main-nav i {
	display:none !important;
}
.fixed .top-bar-section .main-nav>li>a:not(.button).has-icon{
	line-height: 5rem;
}
// Top Bar
//--------------------------------------------------
.top-bar {
	background:white;
	z-index: 10;

  .title-area {
  }
  
  .name h1 a{
	display: inline-block;
	width: 165px;
	height: 0px;
	overflow: hidden;
	padding-top: 85px;
	background:url('../images/marca4.png') top center no-repeat;
  }// name h1 a
}


.top-bar-section {}
.top-bar-section .left {

}
.top-bar-section .right {

}

.top-bar-section ul{
}

.top-bar .toggle-topbar.menu-icon a span {
	box-shadow: 0 10px 0 1px #000,0 16px 0 1px #000,0 22px 0 1px #000;
	color: #777;
}

.top-bar-section .left li a:not(.button){
	background: $color-honduras(50%);
}

.top-bar-section .main-nav>li>a:not(.button).has-icon{
	text-align: center;
}

.top-bar-section .main-nav>li>a:not(.button) {
  font-weight: 500;
  font-size: 0.50em;
  text-transform: uppercase;
  padding: 0.5px 2.3rem;
  width: 8rem;
}

.top-bar-section .main-nav>li>a:not(.button) i{
	display: block;
	padding: 20px 0 0 0;
    font-size: 3.5em;
	text-align: center;
}

.top-bar-section .dropdown li a{
	background: white !important;
	color: black;
}

.top-bar-section .dropdown li a:hover{
	text-decoration: underline;
	background: silver !important;
	color: red;
}

#secondary-menu li a{
	background:white;
	color: black;
}

@media only screen and (max-width: 40em) {
	.fixed .main-nav i {
		display:inline !important;
	}

	.top-bar, .title-area {
		height: 4rem;
	}
	.top-bar .name h1 a{
		background: url('../images/logo3.png') no-repeat;
	}

	/**
	 * Icon Area
	 * @type {[type]}
	 */
	.top-bar-section .main-nav>li>a:not(.button).has-icon {
		text-align:left;
		padding: 0.3rem 0.3rem;
		font-size: 1.6rem;
	}

	.top-bar-section .main-nav>li>a:not(.button) i{
		text-align: left;
		display: inline;
		padding-right: 1.2rem;
		line-height: 1.5rem;
		font-size: 2.1rem;
	}

	.top-bar.expanded .title-area{
		background:white !important; 
  	}
}