// Non-modular or client styles for the .l-content region.

.l-main {
	margin-bottom: 1.5rem;
}

.section-atlantida .l-slider{
	background:url('../images/sections/bg_atlantida.jpg');
	background-size: cover;
	.front-title{
		color: $color-atlantida;
		text-shadow: 2px 2px 2px rgb(69,39,47);
	}
	h5.guara{
		font-size: 3rem !important;
		font-weight: 300 !important;
	}

	.guara{
		color: $color-occidente;
		text-shadow: 2px 2px 2px rgb(69,39,47);		
	}
}

.section-bay-island .l-slider, .section-islas-de-la-baiha .l-slider{
	background:url('../images/sections/bg_islas.jpg');
	background-size: cover;
	.guara, .mportal {
		text-shadow: 2px 2px 2px rgb(1,47,47);
	}
	.mportal{
		color:$color-islas;
	}
}

.section-copan-ruinas-and-west .l-slider, .section-copan-ruinas-y-occidente .l-slider{
	background:url('../images/sections/bg_occidente.jpg');
	background-size: cover;
	.mportal{
		color: $color-occidente;
		text-shadow: 2px 2px 2px black;
	}

	.portal{
		color:rgb(252, 160, 39);
	}
}
.section-san-pedro-sula .l-slider{
	background:url('../images/sections/bg_sanpedro.jpg');
	background-size: cover;
	.front-title {
		color: $color-sanpedro;
		text-shadow: 2px 2px 2px black;
	}
	.portal {
		color: $color-occidente;
	}
}

.section-lake-yojoa .l-slider, .section-lago-de-yojoa .l-slider{
	background:url('../images/sections/bg_yojoa.jpg');
	background-size: cover;
	background-position: center bottom;
	.front-title {
		color: $color-occidente;
		text-shadow: 2px 2px 2px rgb(92,38,41);
	}
	.portal{
		text-shadow: 2px 2px 1px rgb(92,38,41);
	}
}

.section-tegucigalpa .l-slider{
	background:url('../images/sections/bg_tegus.jpg');
	background-size: cover;
	.front-title{
		color: $color-occidente;
		text-shadow: 2px 2px 1px white;
	}

	h5.portal .guara{
		font-size: 3rem !important;
		font-weight: 300 !important;
	}
}

.section-others .l-slider{
	background:url('../images/sections/bg_otros.jpg');
	background-size: cover;
	.front-title {
		color: $color-occidente;
		text-shadow: 2px 2px 2px rgb(92,38,41);
	}
	.portal{
		text-shadow: 2px 2px 1px rgb(92,38,41);
	}
}


.l-slider{
	background: url('../images/bgs_2.jpg');
	background-size: cover;
	background-position: center center;
	height: 25rem;
	display: block;
	font-style: hondurean;
	margin-bottom:2rem;



	.front-title {
		font-family: Hondurean;
		text-align: center;
		font-size: 4rem;
		margin-bottom: 0;
	}

	.front-message{
		padding: 90px 0;
	}

	.guara {
		/*color: rgb(0, 71, 186) !important;*/
		font-size:4.5rem !important;
		margin-top:25px;
		text-align:center;
		color:white;
		font-size:2.5rem;
		margin-bottom: 0;
		text-shadow: 2px 2px 1px black;
	}

	.guara span {
		display:inline-block;
		height:0px;
		padding-top:80px;
		overflow:hidden;
		background: url("../images/marca1.png") no-repeat right bottom;
		width: 195px;
		margin-top: -50px;
	}
	
	.explora {
		 color:rgb(0, 71, 186);
	}

	.portal {
		/*color:rgb(0,71,186)!important;
		/*Color del portal*/
		color: white;
		text-align:center;
		font-size: 2rem;
		text-shadow: 2px 2px 1px black;
	}
}


.breadcrumbs {
	border-style: none;
	border: none;
	background: none;
}

.node {}

.body {}

.image{}


/**
 *
 * 	Detinos Turisticos
 * 
 */

.image a {
	display: inline !important;
}

/**
 *
 * 	Atracciones Turisticas
 * 
 */

.node-type-destinos-turisticos .group-top {
	padding: 0.5rem 0 0.5rem 0;
	margin-bottom: 1rem;
}

.group-top .image a{
	display: inline !important;
}

.rel-explorar {
	border-bottom: 1px solid silver;
	padding: 1rem;
	margin-bottom: 0.8rem;

	li {

	}
	a {

	}

	i {
		font-size: 2.5rem;
		font-weight: 100;
	}
}

/**
 *
 * Blogs & Calendar 
 * 
 */
/*
.flexslider {
	width: 60%;
	float: left;
	margin: 0 1rem 2rem 0;
}

.node-type-destinos-turisticos .flexslider, .node-type-atracciones-turisticas .flexslider
,.node-type-proveedores-hoteles .flexslider{
	width:100%;
	float: none;
}
*/

/**
 *
 * Hotels 
 * 
 */

.field-name-field-ref-servicios {
	li {
		display: inline-block;
		width: 112px;
		margin-bottom: 1rem;
		a{
			display: block;
			font-size: 0.8rem;
			text-align: center;
			color: $color-sanpedro;
			i{
				display: block;
				font-size: 3.1rem !important;
			}
		}
		a:hover {
			color: $color-atlantida;
		}
	}
}

/**
 * @param  {[type]} max-width: 40em          [description]
 * @return {[type]}            [description]
 */

@media only screen and (max-width: 40em) {
	.l-slider{
		.front-message{
			padding: 70px 0;
		}
	}

	.flexslider {
		width: 100%;
		float: none;
		margin: 0 0 2rem 0;
	}
}

