// Non-modular or client styles for the .l-content region.

.l-main {}

.l-slider{
	background: url('../images/bgs_2.jpg');
	background-size: cover;
	background-position: center center;
	height: 22rem;
	display: block;
	font-style: hondurean;
	margin-bottom:2rem;



	.front-title {
		font-family: Hondurean;
		text-align: center;
		font-size: 4rem;
		margin-bottom: 0;
	}

	.front-message{
		padding: 55px 0;
	}

	.guara {
		/*color: rgb(0, 71, 186) !important;*/
		font-size:4.5rem !important;
		margin-top:25px;
		text-align:center;
		color:white;
		font-size:2.5rem;
		margin-bottom: 0;
		text-shadow: 2px 2px 1px black;
	}

	.guara span {
		display:inline-block;
		height:0px;
		padding-top:80px;
		overflow:hidden;
		background: url("../images/marca1.png") no-repeat right bottom;
		width: 195px;
		margin-top: -50px;
	}
	
	.explora {
		 color:rgb(0, 71, 186);
	}

	.portal {
		/*color:rgb(0,71,186)!important;
		/*Color del portal*/
		color: white;
		text-align:center;
		font-size: 2rem;
		text-shadow: 2px 2px 1px black;
	}
}


.breadcrumbs {
	border-style: none;
	border: none;
	background: none;
}

.node {}

.body {}

.image{}

/**
 *
 * 	Detinos Turisticos
 * 
 */

.image a {
	display: inline !important;
}

/**
 *
 * 	Atracciones Turisticas
 * 
 */

.node-type-destinos-turisticos .group-top {
	padding: 0.5rem 0 0.5rem 0;
	margin-bottom: 1rem;
}

.group-top .image a{
	display: inline !important;
}

.rel-explorar {
	border-bottom: 1px solid silver;
	padding: 1rem;
	margin-bottom: 0.8rem;

	li {

	}
	a {

	}

	i {
		font-size: 2.5rem;
		font-weight: 100;
	}
}



/**
 *
 * Blogs & Calendar 
 * 
 */



.flexslider {
	width: 60%;
	float: left;
	margin: 0 1rem 2rem 0;
}

.node-type-destinos-turisticos .flexslider, .node-type-atracciones-turisticas .flexslider {
	width:100%;
	float: none;
}

@media only screen and (max-width: 40em) {
	.flexslider {
		width: 100%;
		float: none;
		margin: 0 0 2rem 0;
	}
}

