#l-row-first h3.page-title{
	color:$color-1;
	margin-bottom: 0;
}

#l-row-first .description{
	border-bottom: 1px solid $color-occidente;
}

.view-display-id-block .views-row-1 {
	position: relative;
}


#l-row-first .views-field-field-image {
	width: 100%;
}

/**
 * Titulos de bloque en portada
 */
.views-responsive-grid-vertical .views-field-title {
	position: absolute;
	top: 0px;
	display: block;
	background: rgba(0,0,0,0.5);
	width: 89.5%;
	padding: 0.3rem;
}

/**
 * Titulos de overlay en noticias
*/

.views-responsive-grid-vertical  .views-field-title a {
	color: white;
}

.views-responsive-grid-vertical  .views-field-title a:hover {
	text-decoration: underline;
}

/**
 * Overlay images 
 */

.front-image {
	position: relative;
	overflow: hidden;
	.overlay{
		position: absolute;
		text-align:center;
		width: 100%;
		top: 0px;
		height: 100%;
		padding: 5rem;
		opacity:0;
		background:rgba(0,0,0,.75);
		-webkit-transition: opacity .25s ease;
		-moz-transition: opacity .25s ease;
		p{
			color: white;
			text-align: justify;

		}
	}
}

.front-image:hover {
	.overlay{
		 opacity:1;
	}
}

/**
 * [and description]
 * @param  {[type]} max-width: 40em          [description]
 * @return {[type]}            [description]
 */

@media only screen and (max-width: 40em) {
	#l-row-first .view-display-id-block{
		overflow: hidden;
	}

	
	.front-image{
		.overlay{
			padding: 0.5rem;
			p{
				font-size: 1rem;
			}
		}
	} 

}