
/**
 * Popup Calendar styles 
 */

.ui-dialog {
	width:90% !important;
	right: 20px;
}

/* __ Calendar styles __*/

.calendar-calendar thead tr {
  background:none;
}
.calendar-calendar th.days {
  background:#000000;
  opacity:0.3;
  border:none;
  padding:5px 0;
  color:#ffffff;
}

.view .date-nav-wrapper {
  color:#cccccc;
  background:$color-honduras;
  border-radius:8px 8px 0 0;
  padding:20px;
  width:100%;
  text-shadow:1px 1px 0px #FFF;
  margin:0;
}
.view .date-nav-wrapper .date-prev {
  float:left;
  position:relative;
  right:0;
  text-align:right;
  width:80px;
  background:none;
  padding:5px 15px 10px 0;
  width:85px;
  height:20px;

}
.view .date-nav-wrapper .date-next {
  float:right;
  position:relative;
  right:0;
  text-align:left;
  width:80px;
  background:none;
  padding:5px 0 10px 15px;
  width:85px;
  height:20px;
}
.view .date-nav-wrapper .date-heading {
  float:left;
  width:70%;
}

.view .date-nav-wrapper .date-heading h3{
	text-align:left;
}


.calendar-calendar td {
  border:1px solid #dadada;
  border-right-color:#dadada;
  border-bottom-color:#e3e3e3;
}
.calendar-calendar td.empty {
  border-color:#dadada;
  color:#dadada;
}
.calendar-calendar .month-view .full td.date-box.today,
.calendar-calendar .month-view .full tr td.multi-day.ends-today,
.calendar-calendar .month-view .full tr td.single-day.today {
  border-color:#999999;
}
td.single-day {
 /* background:url(../images/cell-bg.png) bottom repeat-x;*/
}
td.single-day .inner {
  min-height:50px;
}

.calendar-calendar .month-view .full td.multi-day div.monthview,
.calendar-calendar .week-view .full td.multi-day div.weekview,
.calendar-calendar .day-view .full td.multi-day div.dayview,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  /*background:url(../images/event-bg.png) bottom repeat-x;*/
  border-radius:10px;
}
.calendar-calendar .month-view .full td.multi-day .calendar.monthview .contents,
.calendar-calendar .week-view .full td.multi-day .calendar.weekview .contents {
  top:2px;
}
.calendar-calendar .item {
  color:#333333;
}
.calendar-calendar .item a {
  color:#333333;
  text-shadow:1px 1px 0px scale-color(#fff, $lightness: 10%);
}
.calendar-calendar .item .continues {
  color:#333333;
}

/**
 * Calendar Content 
 */

.group-float-left {
    width:35%;
    margin: 5px 10px 10px 0;
    float: left;
}

/**
 * Calendar front-page
 */

.front {
  .date-nav-wrapper{
    padding: 5px 3px;
    border-radius: 0px 0px !important;
    .date-heading h3{
      color:white !important;
      text-shadow: 2px 2px 2px black !important;
    }
  }
}


/*
** Calendar pop-up
*/

.ui-widget-overlay{
  background: scale-color(#fff, $lightness: 10%);
}

.ui-widget-content { 
  background: aliceblue !important;
}

.ui-corner-all .ui-front {
  border: 5px solid black;
  border-radius: 5px;
}

.ui-dialog-title {
  font-family: hondurean;
}