
.color-1 a{background: $color-1 !important;}
.color-2 a{background: $color-2 !important;}
.color-3 a{background: $color-3 !important;}
.color-4 a{background: $color-4 !important;}
.color-5 a{background: $color-5 !important;}

