/**	
 * Transporte
 */

.field-name-field-imagen-logo {
	text-align: center;
	outline: 1px solid gray;
	margin: 2px 0;
	padding: 10px 0;
}

.field-name-field-relacion-sellos{
  display: block;
  clear: both;
  h2 {
    display: none;
  }
  .field-label{
    display: none;
  }
  .vocabulary-sellos{
    display: inline;
    float: left;
  }
}

.group-info-general, .field-group-fieldset {
    div {
      margin-bottom:1rem;
    }
	.fieldset-wrapper .field {
		margin-bottom: 10px;
	}
	
	.field-name-field-to-telefonos{
		a{
			display: block;
		}
	}

	.field-name-field-to-email{
		a{
			display: block;
		}
	}
}
