// Docs: http://foundation.zurb.com/docs/components/type.html
// Before adding styles be sure to modify variables.

#l-title, .title {
	background: $color-honduras;
}

/**
 * Group fiels themen
 */

.group-encontrar {
	padding-top: 0.5rem
}



#l-title {
	margin-bottom: 1.5rem;
	z-index: 1;
}

.title {
	color:white;
	text-shadow:  2px 2px black;
}

.node-title {}
.page-title {}
.block-title {}
.item-list {}

.front-title {
	font-weight:100;
}
 h3.page-title{
   color:$color-honduras !important;
 }
