
$color-honduras: rgb(0,71,186);
$color-atlantida : rgb(0,177,211);
$color-islas: rgb(239, 198, 68);
$color-lago :rgb(0,157, 224);
$color-occidente :rgb(204, 124, 26);
$color-otros :rgb(118, 152, 153);
$color-sanpedro :rgb(177, 99,159);
$color-tegucigalpa: rgb(89,115,3);

$color-1 : #e60000;
$color-2 : #ff751a;
$color-3 : #fbb820;
$color-4 : #94e107;
$color-5 : #009ae7;
