// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }


/**
 * Tables general
 */

table {
	width:100%;
}

/**
 * List inine 
 */

.list-inline{
	display:inline;
	margin-right:0.7rem;
}

/**
 * Centering lists
 * li of horizonal-list must have a "display:inline" property
 */

.list-centered{
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}


/**
 * Icons default 
**/

.icon{
	font-size: 2.5rem;
}


ul.horizontal-list{
	text-align: center;
	margin-bottom: 0px;
}

ul.horizontal-list-right{
	text-align:right;
	margin-bottom: 0px;	
}

@media only screen and (max-width: 40em) {
	ul.horizontal-list-right{
		text-align: center;
	}
}