// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

@font-face {
	font-family: 'Hondurean';
	src: url('../fonts/hondurean/Hondurean.eot?') format('eot'), 
	     url('../fonts/hondurean/Hondurean.woff') format('woff'), 
	     url('../fonts/hondurean/Hondurean.ttf')  format('truetype'),
	     url('../fonts/hondurean/Hondurean.svg#Hondurean') format('svg');
}

/**
 * Tables general
 */

table {
	width:100%;
}

.field-name-body {
	text-align: justify;
}

.views-responsive-grid .field-content {
	word-wrap: break-word;
}

/**
 * List inine 
 */

.list-inline, .item-list ul li.list-inline{
	display:inline;
	margin: 0 0.25rem 0 0;
}

/**
 * Centering lists
 * li of horizonal-list must have a "display:inline" property
 */

.list-centered{
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

/**
 * Icons default 
**/

.icon{
	font-size: 2.5rem;
}

.fa-air {
	font-size: 2.5rem !important;
}

.views-responsive-grid .icon {
	font-size: 1.5rem;
}


ul.horizontal-list{
	text-align: center;
	margin-bottom: 0px;
}

ul.horizontal-list-right{
	text-align:right;
	margin-bottom: 0px;	
}

@media only screen and (max-width: 40em) {
	ul.horizontal-list-right{
		text-align: center;
	}
}