// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "scss/_variables.scss" file. You may not need to write any code.

// Headings
//------------------------------------------

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

h1, h2, h3,
h4.honduras, h5.honduras{
	font-family: hondurean;
}

.field h3 {
  font-size:1.5rem;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
// Anchors
//-----------------------------------------------------------------------------
 a {
   color: $link-color;
   @include transition(.3s);
 }

.select-dropdown span {
  color: #004d40 !important;
}

// a:focus {}

// a.active,
// a:active,
// a:hover {}

// Form Input
//-----------------------------------------------------------------------------
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {
// }

.views-exposed-widget{
	width: 100%;
	label {
		color: gray;
		font-style: italic;
		font-size: 0.7rem;
		font-weight: bold;
	}
}

.form-item-field-tipo-de-transporte-value select{
	margin-bottom: 0.2rem !important;
}

.description{
	color: $aventura;
	font-style: italic;
	font-size: 0.7rem;
	font-weight: bold;	
}

/* We use this to get basic styling on all basic form elements */
